
@model List<BasketViewModel>

<div class="container mt-5">

    <div>

        <div class="float-start"> <h2>Sepetim</h2> </div>
       

    </div>

    <div style="padding-top:75px; padding-bottom:75px">

        <table id="productTable" class="table table-striped">
            <thead>
                <tr style="text-align:center">
                    
                    <th style="width:600px ;text-align:left ">Ürün Adı</th>
                    <th style="width:200px"></th>
                    <th style="width:200px">Miktarı</th>
                    <th style="width:200px; text-align:center">Birim Fiyatı</th>
                    <th style="width:400px">Toplam Fiyat</th>
                    <th style="width:250px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var basket in Model)
                {
                    <tr style="text-align:center">
                      
                        <td style="text-align:left">@basket.ProductName</td>
                        <td>  
                <img src="~/images//products/@basket.ImagePath" style="height:50px; width:70px" class="img-fluid rounded-start" alt="...">
            </td>
                        <td>@basket.Piece</td>
                        <td style="text-align:center">@basket.UnitPrice</td>
                        <td>@basket.TotalPrice</td>
                        <td>

                            <a asp-controller="Basket" asp-action="Delete" asp-route-id="@basket.Id" class="btn btn-sm btn-danger delete"><i class="bi bi-trash3"></i> Sepetimden Çıkar</a>

                        </td>
                  
                     <div>
                         
                         

                        </div>
                    </tr>

                }

            </tbody>
        </table>

        <p style="text-align:right ; border:double; border-color:cyan ; color:red;font-size:25px;margin-top:1px; ">Sepet Toplam Tutarı  = @ViewBag.SumTotal TL   <a href="" class="btn btn-success " style="margin-bottom:30px; margin-top:20px;margin-left:30px;font-size:20px"> Alışverişi Tamamla</a></p>

<div class="container mt-5">

            <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-2 " style="margin-bottom:40px; margin-top:2px; margin-left:920px;font-size:15px"> Alışverişe Devam Et</a>

           


</div>